<% provide(:title, t('.title')) %>
<h2>
  <div class="left">
    <%= image_tag('beatles_help.jpg', class: "image-responsive", size: '150x50') %>
  </div>
    <%= t('.title') + " for " + t('app_name')%>
</h2>
<p>Help pages</p>
