
/* Style the footer as BS doesn't
*/
footer {
  width: 100%;
  margin-top: 45px;
  padding-top: 5px;
  /*border-top: 1px solid var(--bs-secondary-border-subtle);
  */
  color: var(--bs-secondary);
  bg-color: var(indigo-300);
  a {
    color: var(--bs-link-color);
    &:hover {
      color: var(--bs-link-hover-color);
    }
  }
  /*
  small {
    float: left;
  }
  */
  .credits {
    float: right;
  }
  ul {
    /*float: right;
    */
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* Reduce font size for more compact tables
*/
.listing  {
  font-size: 0.8rem;
}
