<footer class="footer">
  <small>
    <p><i> <%= t('credit', scope: 'footer') %></i>
      <a id = 'hidden-link'
        href = 'https://youtu.be/rVDBZFfDqB8?si=qvqS2soZoCEh63ZN'
        target="_blank">
        <%= t('walking', scope: 'rails') %></a>

<%= link_to image_tag("rails.png", alt: "Rails logo", size: "30"),
            'http://rubyonrails.org/' %>
    </p>
  </small>
</footer>
